<div class="container">
  <h3 class="heading">Analytics</h3>
  <div class="dash-row">
    <a href="https://analytics.google.com" target="_blank" class="white-box link-box w-inline-block">
      <div class="box-padding app-padding-box">
        <div class="app-logo-circle"><img src="/assets/img/google-analytics-3.svg" alt=""></div>
        <div>
          <h4 class="app-heading">Google Analytics</h4>
          <div class="app-heading connected">• Connected</div>
          <div>All-in-one site analytics</div>
        </div>
      </div>
    </a>
    <a href="https://www.hotjar.com/" target="_blank" class="white-box link-box w-inline-block">
      <div class="box-padding app-padding-box">
        <div class="app-logo-circle"><img src="/assets/img/hotjar.svg" width="100" alt=""></div>
        <div>
          <h4 class="app-heading">Hotjar</h4>
          <div class="app-heading connect">Connect</div>
          <div>The visual way to understand your users</div>
        </div>
      </div>
    </a>
    <a href="https://heap.io/" target="_blank" class="white-box link-box w-inline-block">
      <div class="box-padding app-padding-box">
        <div class="app-logo-circle"><img src="/assets/img/heap.svg" alt=""></div>
        <div>
          <h4 class="app-heading">HEAP</h4>
          <div class="app-heading connect">Connect</div>
          <div>Automatically capture every interaction: clicks, submits, transactions, emails, and more.</div>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="container">
  <h3 class="heading">General</h3>
  <div class="dash-row">
    <a href="https://crisp.chat/en/" target="_blank" class="white-box link-box w-inline-block">
      <div class="box-padding app-padding-box">
        <div class="app-logo-circle"><img src="/assets/img/crisp.png" alt=""></div>
        <div>
          <h4 class="app-heading">Crisp.chat</h4>
          <div class="app-heading connected">• Connected</div>
          <div>Cross-channel customer support experiences using modern messaging</div>
        </div>
      </div>
    </a>
  </div>
</div>
