<div class="container">
  <h3 class="heading">Documents</h3>
  <div class="dash-row masonry">
    <a href="/assets/img/berries-bowl-delicious-1209605.jpg" class="white-box link-box asset-box w-inline-block">
      <img src="/assets/img/berries-bowl-delicious-1209605.jpg" srcset="/assets/img/berries-bowl-delicious-1209605-p-1080.jpeg 1080w, /assets/img/berries-bowl-delicious-1209605.jpg 1280w" sizes="100vw" alt="">
      <div class="box-padding">
        <h3 class="doc-heading">Asset.jpg</h3>
        <div class="doc-description">This is brief description.</div>
        <div class="doc-date" data-ms-member="signup-date">14 November 2020</div>
      </div>
    </a>
    <a href="/assets/img/adult-beautiful-beauty-1054422.jpg" class="white-box link-box asset-box w-inline-block">
      <img src="/assets/img/adult-beautiful-beauty-1054422.jpg" srcset="/assets/img/adult-beautiful-beauty-1054422-p-500.jpeg 500w, /assets/img/adult-beautiful-beauty-1054422-p-1080.jpeg 1080w, /assets/img/adult-beautiful-beauty-1054422.jpg 1280w" sizes="100vw" alt="">
      <div class="box-padding">
        <h3 class="doc-heading">Asset.jpg</h3>
        <div class="doc-description">This is brief description.</div>
        <div class="doc-date" data-ms-member="signup-date">14 November 2020</div>
      </div>
    </a>
    <a href="/assets/img/beautiful-bloom-blooming-979932.jpg" class="white-box link-box asset-box w-inline-block">
      <img src="/assets/img/beautiful-bloom-blooming-979932.jpg" srcset="/assets/img/beautiful-bloom-blooming-979932-p-1080.jpeg 1080w, /assets/img/beautiful-bloom-blooming-979932.jpg 1280w" sizes="100vw" alt="">
      <div class="box-padding">
        <h3 class="doc-heading">Asset.jpg</h3>
        <div class="doc-description">This is brief description.</div>
        <div class="doc-date" data-ms-member="signup-date">14 November 2020</div>
      </div>
    </a>
    <a href="/assets/img/MZ-7AaQh_400x400.jpg" class="white-box link-box asset-box w-inline-block">
      <img src="/assets/img/MZ-7AaQh_400x400.jpg" alt="">
      <div class="box-padding">
        <h3 class="doc-heading">Asset.jpg</h3>
        <div class="doc-description">This is brief description.</div>
        <div class="doc-date" data-ms-member="signup-date">14 November 2020</div>
      </div>
    </a>
    <a href="/assets/img/adventure-asphalt-daylight-1955134-1.jpg" class="white-box link-box asset-box w-inline-block">
      <img src="/assets/img/adventure-asphalt-daylight-1955134-1.jpg" alt="">
      <div class="box-padding">
        <h3 class="doc-heading">Asset.jpg</h3>
        <div class="doc-description">This is brief description.</div>
        <div class="doc-date" data-ms-member="signup-date">14 November 2020</div>
      </div>
    </a>
    <a href="/assets/img/coca-cola-machine-mobilechallenge-899786.jpg" class="white-box link-box asset-box w-inline-block">
      <img src="/assets/img/coca-cola-machine-mobilechallenge-899786.jpg" srcset="/assets/img/coca-cola-machine-mobilechallenge-899786-p-500.jpeg 500w, /assets/img/coca-cola-machine-mobilechallenge-899786-p-1080.jpeg 1080w, /assets/img/coca-cola-machine-mobilechallenge-899786.jpg 1280w" sizes="100vw" alt="">
      <div class="box-padding">
        <h3 class="doc-heading">Asset.jpg</h3>
        <div class="doc-description">This is brief description.</div>
        <div class="doc-date" data-ms-member="signup-date">14 November 2020</div>
      </div>
    </a>
    <a href="/assets/img/pexels-photo-167699.jpeg" class="white-box link-box asset-box w-inline-block">
      <img src="/assets/img/pexels-photo-539711-1.jpeg" srcset="/assets/img/pexels-photo-539711-1-p-500.jpeg 500w, /assets/img/pexels-photo-539711-1-p-800.jpeg 800w, /assets/img/pexels-photo-539711-1-p-1080.jpeg 1080w, /assets/img/pexels-photo-539711-1.jpeg 1280w" sizes="100vw" alt="">
      <div class="box-padding">
        <h3 class="doc-heading">Asset.jpg</h3>
        <div class="doc-description">This is brief description.</div>
        <div class="doc-date" data-ms-member="signup-date">14 November 2020</div>
      </div>
    </a>
    <a href="/assets/img/pexels-photo-167699.jpeg" class="white-box link-box asset-box w-inline-block">
      <img src="/assets/img/pexels-photo-167699.jpeg" srcset="/assets/img/pexels-photo-167699-p-1080.jpeg 1080w, /assets/img/pexels-photo-167699.jpeg 1280w" sizes="100vw" alt="">
      <div class="box-padding">
        <h3 class="doc-heading">Asset.jpg</h3>
        <div class="doc-description">This is brief description.</div>
        <div class="doc-date" data-ms-member="signup-date">14 November 2020</div>
      </div>
    </a>
    <a href="/assets/img/bag-blurred-background-daylight-1353029-1.jpg" class="white-box link-box asset-box w-inline-block">
      <img src="/assets/img/bag-blurred-background-daylight-1353029-1.jpg" srcset="/assets/img/bag-blurred-background-daylight-1353029-1-p-500.jpeg 500w, /assets/img/bag-blurred-background-daylight-1353029-1-p-800.jpeg 800w, /assets/img/bag-blurred-background-daylight-1353029-1-p-1080.jpeg 1080w, /assets/img/bag-blurred-background-daylight-1353029-1.jpg 1280w" sizes="100vw" alt="">
      <div class="box-padding">
        <h3 class="doc-heading">Asset.jpg</h3>
        <div class="doc-description">This is brief description.</div>
        <div class="doc-date" data-ms-member="signup-date">14 November 2020</div>
      </div>
    </a>
  </div>
      </div>
