<div class="container">
  <h3 class="heading">Documents</h3>
  <div class="dash-row">
    <a href="/assets/documents/Project-proposal.pdf" class="white-box link-box paper-box w-inline-block" download>
      <div class="box-padding paper-padding">
        <img src="/assets/img/1.svg" alt="" class="doc-image">
        <h3 class="doc-heading">Proposal</h3>
        <div class="doc-description">This is brief description of the document. Click to download.</div>
        <div class="doc-date" data-ms-member="signup-date">14 November 2020</div>
      </div>
      <img src="/assets/img/paper.svg" alt="" class="paper">
    </a>
    <a href="/assets/documents/Project-proposal.pdf" class="white-box link-box paper-box w-inline-block" download>
      <div class="box-padding paper-padding">
        <img src="/assets/img/2.svg" alt="" class="doc-image">
        <h3 class="doc-heading">Terms</h3>
        <div class="doc-description">This is brief description of the document. Click to download.</div>
        <div class="doc-date" data-ms-member="signup-date">14 November 2020</div>
      </div>
      <img src="/assets/img/paper.svg" alt="" class="paper">
    </a>
    <a href="/assets/documents/Project-proposal.pdf" class="white-box link-box paper-box w-inline-block" download>
      <div class="box-padding paper-padding">
        <img src="/assets/img/3.svg" alt="" class="doc-image">
        <h3 class="doc-heading">Budget</h3>
        <div class="doc-description">This is brief description of the document. Click to download.</div>
        <div class="doc-date" data-ms-member="signup-date">14 November 2020</div>
      </div>
      <img src="/assets/img/paper.svg" alt="" class="paper">
    </a>
    <a href="/assets/documents/Terms-of-use.docx" class="white-box link-box paper-box w-inline-block" download>
      <div class="box-padding paper-padding">
        <img src="/assets/img/2.svg" alt="" class="doc-image">
        <h3 class="doc-heading">Contract</h3>
        <div class="doc-description">This is brief description of the document. Click to download.</div>
        <div class="doc-date" data-ms-member="signup-date">14 November 2020</div>
      </div>
      <img src="/assets/img/paper.svg" alt="" class="paper">
    </a>
    <a href="/assets/documents/Terms-of-use.docx" class="white-box link-box paper-box w-inline-block" download>
      <div class="box-padding paper-padding">
        <img src="/assets/img/3.svg" alt="" class="doc-image">
        <h3 class="doc-heading">Members<br></h3>
        <div class="doc-description">This is brief description of the document. Click to download.</div>
        <div class="doc-date" data-ms-member="signup-date">14 November 2020</div>
      </div>
      <img src="/assets/img/paper.svg" alt="" class="paper">
    </a>
  </div>
</div>
