---
layout: members
title: "Member Dashboard"
---

<div class="top-nav">
  <div class="d-flex align-items-center">
    <div id="menu-toggle">
      <div id="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div id="cross">
        <span></span>
        <span></span>
      </div>
    </div>
    <a href="/members" class="ml-2 logo-link w-nav-brand">
      <h3 class="m-0">Member Dashboard</h3>
    </a>
  </div>
  <div data-hover="1" data-delay="100" class="dropdown w-dropdown">
    <div class="navigation-item profile-nav w-dropdown-toggle">
      <img src="/assets/img/profile.jpg" alt="" class="profile-pic">
      <div>Hi, <span data-ms-member="first-name">User</span>!</div>
    </div>
  </div>
</div>
<div data-duration-in="300" data-duration-out="100" class="tabs w-tabs">
  <div class="navigation-menu w-tab-menu" style='display: none'>
    <a data-w-tab="Tab 1" class="navigation-item w-inline-block w-tab-link w--current">
      <div class="navigation-icon"></div>
      <div>Overview</div>
    </a>
    <a data-w-tab="Tab 2" class="navigation-item w-inline-block w-tab-link">
      <div class="navigation-icon"></div>
      <div>Project</div>
    </a>
    <a data-w-tab="Tab 3" class="navigation-item w-inline-block w-tab-link">
      <div class="navigation-icon"></div>
      <div>Documents</div>
    </a>
    <a data-w-tab="Tab 4" class="navigation-item w-inline-block w-tab-link">
      <div class="navigation-icon"></div>
      <div>Progress</div>
    </a>
    <a data-w-tab="Tab 5" class="navigation-item w-inline-block w-tab-link">
      <div class="navigation-icon"></div>
      <div>Assets</div>
    </a>
    <a data-w-tab="Tab 6" class="navigation-item hide-on-mobile w-inline-block w-tab-link">
      <div class="navigation-icon"></div>
      <div>Apps</div>
    </a>
    <a ms-logout="true" href="#" class="navigation-item w-inline-block w-tab-link">
      <div class="navigation-icon"></div>
      <div>Log out</div>
    </a>
  </div>

  <div class="dash-tab-wrapper w-tab-content">
    <div data-w-tab="Tab 1" class="dashboard-section w-tab-pane w--tab-active">
      {% include overview.html %}
    </div>
    <div data-w-tab="Tab 2" class="dashboard-section w-tab-pane">
      {% include project_overview.html %}
    </div>
    <div data-w-tab="Tab 3" class="dashboard-section w-tab-pane">
      {% include documents.html %}
    </div>
    <div data-w-tab="Tab 4" class="dashboard-section w-tab-pane">
      {% include progress.html %}
    </div>
    <div data-w-tab="Tab 5" class="dashboard-section w-tab-pane">
      {% include assets.html %}
    </div>
    <div data-w-tab="Tab 6" class="dashboard-section w-tab-pane">
      {% include apps.html %}
    </div>
  </div>
</div>

<div class="p-3">&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</div>
