<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>

    <link rel="stylesheet" href='{{ "/assets/css/main.css" | relative_url }}'>
    <link rel="stylesheet" href='{{ "/assets/css/components.css" | relative_url }}'>
    <link rel="stylesheet" href='{{ "/assets/css/members.css" | relative_url }}'>

    <!-- Memberstack (IMPORTANT: replace with your Website Header Code) -->
    <script src="https://api.memberstack.io/static/memberstack.js?custom" data-memberstack-id="14553698b3de7a0928235b5419878c42"> </script>

    <!-- Chart.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  </head>
  <body>
    <div class="page-wrapper">
       {{ content }}
    </div>
    <script src="https://d1tdp7z6w94jbb.cloudfront.net/js/jquery-3.3.1.min.js" type="text/javascript" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src='{{ "/assets/js/members.js" | relative_url }}'></script>
  </body>
</html>
